@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.app {
  width: 500px;
  margin: 50px auto 0;
}

.todo-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.todo-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title,
.description {
  text-align: center;
  height: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 4px 8px;
  font-size: 15px;
  width: 70px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(1px);
}

.displayTodo {
  margin-top: 20px;
}
